.wrapper {
  margin-bottom: 1rem;
  cursor: pointer;
}

.input {
  border: 1px solid #DDDDDD;
  width: 100%;
  font-size: 1rem;
  padding: .8rem 1.2rem;
  border-radius: .4rem;
  background: #FDFDFD;
  transition: .2s;
  margin-bottom:  10px
}

.input:hover{
  border-color: #8d5353;
}
.input:focus {
  outline: none;
  border-color: #D50000;
  background: white;
  box-shadow: 0 0 0 .5px #7F0000;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: .5rem;
}

.error {
  color: #D50000;
  font-size: .875rem;
  margin-top: .10rem;
  padding-bottom: 10px;
}